@keyframes esayLoadingRotate {
    0% {
        stroke-dasharray: 1, 627;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 627;
        stroke-dashoffset: -195px;
    }

    100% {
        stroke-dashoffset: -425px;
    }
}